<p id="notice"><%= notice %></p>

<%= render '/shared/title', title: "討論區" %>

<%= link_to 'Ask Something...', new_content_path, class: 'btn btn-warning' %>
<hr>

<% @forums.each do |forum| %>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h2><strong><a datd-toggle="collapse" data-parent="#accordion" href="#collapse1">Q: <%= forum.issue %></a></strong></h2>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body" style="word-break: break-all"> <%#word-break 自動換行%>
        <%= forum.description %>
      </div>
        <%= link_to 'Answer!', forum_path(forum), class: 'btn btn-success' %>
        <% if logged_in? %>
          <%= link_to 'Edit', edit_forum_path(forum), class: 'btn btn-info' %>
          <%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
    </div>
  </div>
</div>
<% end %>