<p id="notice"><%= notice %></p>

<%= render '/shared/title', title: "精選內容" %>
<% if logged_in? %>
<%= link_to 'New Post', new_content_path, class: 'btn btn-warning' %>
<hr>
<% end %>

<% @contents.each do |content| %>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h2><strong><center><a datd-toggle="collapse" data-parent="#accordion" href="#collapse1"><%= content.title %> | <%= content.nickname%></a></center></strong></h2>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body" style="word-break: break-all"> <%#word-break 自動換行%>
        <center><%= content.essay %></center>
      </div>
        <%= link_to 'Read More', content, class: 'btn btn-info' %><span>
        <% if logged_in? %>
          <%= link_to 'Edit', edit_content_path(content), class: 'btn btn-success' %><span>
          <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %><span>
        <% end %>
    </div>
  </div>
</div>
<% end %>
