<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>標題</th>
      <th>內文</th>
      <th>作者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @content.title %></td>
        <td><%= @content.essay %></td>
        <td><%= @content.nickname%></td>
      </tr>
  </tbody>
</table>

<!--
<hr>

<%# @comments.each do |comment| %>
  <div class="row well">
    <p>
      <%#= comment.user.name %> : 
      <%#= comment.content %>
    </p>
  </div>
<%# end %>


-->

<% if logged_in? %>
<%= link_to 'Edit', edit_content_path(@content), class: 'btn btn-default' %> |
<% end %>
<%= link_to 'Back', contents_path, class: 'btn btn-default' %>
